/****** Default & General Styling ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

/*** Wrapper ***/

.wrapper {
    background-color: hsl(270, 20%, 96%);
    max-width: 375px;
    position: relative;
    overflow: hidden;
}

/** Background Div Top **/

.backgound_div {
    position: absolute;
    z-index: 0;
}

.backgound_div_top {
    background-image: linear-gradient(to bottom right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 57% 0;
    width: 375px;
    height: 490px;
    right: 195px;
}

/** Background Div Bottom **/

.backgound_div_bottom {
    background-color: hsl(270, 7%, 94%);
    border-radius: 60% 0 0 0;
    width: 375px;
    height: 510px;
    bottom: 5px;
    left: 180px;
}

/* Chat App Illustration */

.chat_app_illustration {
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 13px 35px -10px hsl(270, 7%, 64%);
    margin: 60px auto;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 250px;
    height: 490px;
}

.chat_app_inner_section {
    background-color: hsl(270, 20%, 96%);
    border-radius: 15px;
    width: auto;
    height: 470px;
}

/*- Chat App Top Section -*/

.chat_app_top_section {
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 18px 18px 5px 5px;
    color: hsl(0, 0%, 100%);
    height: 61px;
}

.white_top_cut {
    background-color: white;
    border-radius: 0 0 14px 14px;
    margin: 0 auto;
    width: 135px;
    height: 17px;
}

/*-- Profile --*/

.profile_section {
    margin: 9px 15px;
    display: flex;
    align-items: center;
}

.left_bracket {
    font-size: 10px;
    font-weight: 700;
}

.profile {
    display: inline-block;
    width: 185px;
    margin-left: 9px;
}

.profile img {
    border: solid 1px;
    border-radius: 50%;
    float: left;
    width: 23px;
}

.profile_text {
    padding-left: 30px;
}

.profile h3 {
    color: hsl(0, 50%, 93%);
    font-size: 0.65rem;
    font-weight: 500;
    line-height: 1.5;
}

.profile h5 {
    color: hsl(276, 100%, 81%);
    font-size: 0.45rem;
    font-weight: 700;
}

.vertical_ellipsis {
    font-size: 55%;
    font-weight: 400;
}

/*- Chat App Top Section -*/

.chat_app_main_section {
    background-color: hsl(270, 20%, 96%);
    border-radius: 0 0 15px 15px;
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding: 11px 9px;
}

.chat_app_main_section p {
    font-size: 0.49rem;
    line-height: 1.5;
}

/*-- Chats --*/

.left_chat {
    background-color: hsl(276, 55%, 92%);
    border-radius: 10px 10px 10px 3px;
    color: hsl(276, 55%, 52%);
    padding: 6px;
    margin: 0 43% 8px 0;
}

.chat_image_container {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 8px 38%;
    width: 130px;
}

.chat_image_container img {
    border-radius: 9px;
    width: 38px;
}

.right_chat {
    background-color: hsl(271, 15%, 100%);
    border-radius: 10px 10px 3px 10px;
    box-shadow: 0 5px 10px -5px hsl(270, 7%, 84%);
    color: hsl(271, 15%, 43%);
    padding: 6px;
    margin: 0 0 8px 41%;
}

.rc_small {
    margin: 0 0 14px 62%;
}

/*-- Walk Options --*/

.walk_options {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 3px;
    display: flex;
    align-content: center;
    padding: 8.5px 6px;
    margin: 0 27% 8px 0;
}

.walk_options label {
    font-size: 0.49rem;
    padding: 2px 0 0 20px;
    width: 75%;
}

.walk_options h4 {
    font-size: 12px;
    font-weight: 500;
}

/*--- Modified Radio Buttons ---*/

.radio_circle {
    display: block;
    cursor: pointer;
    position: relative;
}

.radio_circle input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.checkmark {
    background-color: transparent;
    border: solid 1px hsl(289, 100%, 72%);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.radio_circle:hover input~.checkmark {
    background-color: hsl(0, 0%, 100%);
}

.radio_circle input:checked~.checkmark {
    background-color: hsl(264, 100%, 61%);
    border: solid 2px hsl(289, 100%, 72%);
}

/*-- Final Submit Section --*/

.final_submit {
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 15px;
    margin-top: 16px;
}

.final_submit input {
    border: none;
    color: hsl(264, 100%, 25%);
    font-size: 0.52rem;
    font-weight: 500;
    outline: none;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::placeholder {
    color: hsl(206, 6%, 79%);
    font-size: 0.50rem;
    font-weight: 500;
}


.final_submit button {
    background-color: hsl(271, 36%, 24%);
    border: none;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 25px;
    height: 25px;
    outline: none;
}

/** Sample Booking Introduction **/

.introduction {
    margin: 65px 9%;
    position: relative;
}

.introduction h1 {
    color: hsl(271, 36%, 24%);
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 25px;
}

.introduction h2 {
    color: hsl(270, 7%, 64%);
    font-size: 100%;
    font-weight: 400;
    line-height: 1.75;
}

/** Attribution **/

.attribution {
    background-color: hsl(270, 7%, 64%);
    color: white;
    font-size: 11px;
    position: relative;
}

.attribution a {
    color: hsl(271, 15%, 43%);
    font-weight: 500;
}

.attribution strong {
    color: hsl(271, 36%, 24%);
}

@media (min-width:960px) {

    body {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: left;
        margin: 90px auto;
    }

    /*** Wrapper ***/

    .wrapper {
        max-width: 1440px;
    }

    /** Background Div Top **/

    .backgound_div_top {
        background-image: linear-gradient(to bottom left, hsl(293, 100%, 63%) -30%, hsl(264, 100%, 61%));
        border-radius: 0 0 50% 50%;
        width: 560px;
        height: 680px;
        right: 70%;
    }

    /** Background Div Bottom **/

    .backgound_div_bottom {
        background-color: hsl(270, 7%, 94%);
        border-radius: 240px 55% 0 0;
        width: 500px;
        height: 690px;
        left: 77%;
    }

    /* Chat App Illustration */

    .chat_app_illustration {
        margin-left: 47%;
    }

    /* Sample Booking Introduction */

    .introduction {
        margin: 215px 35% 0 0;
        position: relative;
    }

}

/****** END ******/